.form {
  form {
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    input {
      width: 180px;
      height: 40px;
      border-radius: 15px;
      padding-left: 15px;
    }
    button {
      width: 180px;
      height: 40px;
      border-radius: 15px;
      cursor: pointer;
    }
  }
}
ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 35px;
  li {
    list-style: none;
    width: 250px;
    height: 360px;
    border: 2px solid black;
    background-color: #fff;
    border-radius: 15px;
    // margin-left: 25px;
    div {
      padding: 20px;
      &:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60%;
        border-bottom: 2px solid black;
      }
    }
    h2 {
      margin-top: 15px;
      margin-left: 10px;
    }
    span {
      margin-left: 10px;
    }
    p {
      margin-left: 10px;
      font-size: 24px;
      font-weight: 500;
      margin-top: 18px;
    }
    button{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 25px;
      border-radius: 2px;
      border: none;
      background-color:greenyellow;
      font-size: 24px;
      font-weight: 400;
      cursor: pointer;
    }
  }
}
